DATABASE="codage5_codage_time_tracker"
DB_USER="codage5_codage_time_tracker_user"
DB_PASSWORD="_.I_=e(Q7*g8"
DB_HOST=168.235.116.114

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://codage5_codage_time_tracker_user:_.I_%3De%28Q7%2Ag8@168.235.116.114:3306/codage5_time_tracker"

# shadow  database url for migrations
SHADOW_DATABASE_URL="mysql://codage5_codage_time_tracker_shadow_user:_.I_%3De%28Q7%2Ag8@168.235.116.114:3306/codage5_codage_time_tracker_shadow"